//COLORS

$color-primary: #4a90e2;
$color-primary-2: #31639c;

$text-color: #242731;
$text-color-2: #6f727d;

$color-light: #f6d6d6;

$color-white: #fff;
$color-black: #000;

$color-grey-light: #4b5f6d;

//SIZES
$default-font-size: 1.6rem;
