.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(#000046, 0.7), rgba(#1cb5e0, 0.7)),
        url('../img/background.jpg');
    background-size: cover;
    background-position: top;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0 )) {
        -webkit-clip-path: polygon(100% 0, 100% 85vh, 50% 100%, 0 85vh, 0 0);
        clip-path: polygon(100% 0, 100% 85vh, 50% 100%, 0 85vh, 0 0);
    }

    &__text-box {
        @include absMiddleCenter;
    }
}

.header:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($color-black, 0.2);
    padding-top: 8rem;
}
