.section-about {
    margin: 8rem 0;
}
.section-people {
    padding: 3rem;
    background-color: $color-primary;
}

.section-services {
    margin-top: 8rem;
}

.section-contact {
    margin-top: 8rem;
    padding-bottom: 12rem;
    background: linear-gradient((to left, #00c6ff, #0072ff));
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
