.form-container {
    padding: 3rem;
    background-color: rgba($color-white, 0.9);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    display: flex;
    justify-content: space-between;
    &__separator {
        flex: 0 0 1%;
        display: block;
        min-height: 100%;
        max-width: 0.4rem;
        margin: 0 auto;
        background-color: $color-primary;
    }
    &__info {
        flex: 0 0 49.5%;
        margin-left: 3rem;
        &__group {
            margin-bottom: 2.5rem;
        }
        &__icon {
            display: inline-block;
            font-size: 3.5rem;
            color: $color-primary;
        }
        &__description {
            font-size: 2rem;
            color: $text-color-2;
        }
    }
}

.form {
    flex: 0 0 49.5%;
    &__group {
        margin-bottom: 1rem;
    }
    &__input {
        font-weight: 700;
        font-size: inherit;
        color: inherit;
        background-color: $color-light;
        width: 95%;
        border: none;
        padding: 1.5rem 1rem;
        border-bottom: 0.4rem solid transparent;
        transition: all 0.2s;

        &:focus {
            outline: none;
            border-color: $color-primary-2;
        }
        &:focus:invalid {
            border-color: $color-primary;
        }
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 700;
        display: block;
        transition: all 0.2s;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}
