.section-about {
    margin: 8rem 0;
}
.section-people {
    padding: 3rem;
    background-color: $color-primary;
    min-height: 30rem; //remove later
}

.section-services {
    margin-top: 6rem;
}

.section-contact {
    margin-top: 6rem;
    padding-bottom: 6rem;
    background-color: $color-primary;
}
